body {
  width: 100%;
  height: 100vh;
}

.nav-wrapper {
  background-color: black;
  font-size: 10px;
}

a {
  color: black;
}

.card {
  width: 70vmin;
  background-color: white;
  border-radius: 10px;
  border: 2px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: lightgray;
  color: black;
  transition: background-color 0.15s ease-in-out;
}

.booking-card {
  background-color: lightgrey;
  border-radius: 10px;
  border: 2px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.booking-card:hover {
  background-color: lightgray;
  color: black;
  transition: background-color 0.15s ease-in-out;
}

.booking-links a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

.booking-links a:hover {
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding: 0 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}


.car-img {
  height: 30vmin;
  width: 45vmin;
  margin: 0;
  border-radius: 10px;
}

.card-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.card-content {
  padding: 10px;
}

.home {
  background: no-repeat;
  background-image: url(https://d2v1gjawtegg5z.cloudfront.net/uploads/files/000/447/345/original/photo_of_new_Toyota_model_lineup.jpg?1682544979);
  background-size: cover;
}

#cars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* Add the following properties */
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.detail-pic-container {
  display: flex;
  justify-content: center;
}

.fake-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-form-container {
  display: flex;
}


.car-info {
margin-right: 200px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.responsive-img, video.responsive-video {
  padding: 0;
}

.containers {
  padding: 0 2vmin;
}

/************************* Car Details *************************/
/* .date-form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#calculate {
  margin-top: 1.5vmin;
  padding: .5vmin;
  border: none;
  color: white;
  background-color: rgb(8, 157, 157);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#calculate:hover {
  cursor: pointer;
}

.info-form-container {
  padding: 1vmin;
  width: 100%;
  border: .5vmin groove lightgray;
  border-radius: 5px;
}

.booking-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the value as needed */
}
